fairseq==0.12.2
faiss_cpu==1.7.4
faiss_cpu==1.7.3
gradio==4.7.1
librosa==0.10.0
numpy==1.22.0
numpy==1.24.2
numpy==1.23.5
parselmouth==1.1.1
pyworld==0.3.4
pyworld==0.3.3
Requests==2.31.0
scipy==1.11.4
torch==2.1.0+cu118
torch==2.0.1+cu118
torchcrepe==0.0.22
torchcrepe==0.0.21
TTS==0.21.1
TTS==0.21.3
